# **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*BASIC SQL\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

## **SELECT** Statement **(\* , Top , Distinct,  Count, As   ,Max,  Min,   Avg)**

In [1]:
SELECT * 
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

If Need to select only **FirstName and Age**

## **\*** is used to select all row and all column

In [2]:
SELECT FirstName,Age 
FROM EmployeeDemographics

FirstName,Age
Jim,32
John,35
Riya,28
Harry,36
Ram,38
Harry,36
Meredith,32
Stanley,38
Kevin,31

## If need to Select TOP 5 records of all (\*) employee

In [3]:
SELECT top 5 *
FROM EmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male

If need to Select TOP 5 records of FirstName and LastName of employee

In [3]:
SELECT top 5 FirstName,LastName
FROM EmployeeDemographics

FirstName,LastName
Jim,Harin
John,Mark
Riya,Ray
Harry,pal
Ram,Singh

### **DISTINCT()** find **all the unique values** like in EmployeeID all values are uniques and in in Gender  only Male and Female Unique

In [4]:
SELECT DISTINCT(EmployeeID)
FROM EmployeeDemographics

EmployeeID
1001
1002
1003
1004
1005
1006
1007
1008
1009

In [5]:
SELECT DISTINCT(Gender)
FROM EmployeeDemographics

Gender
Female
Male

### **COUNT()  is used to count the no. of rows**

In [36]:
SELECT COUNT(FirstName)
FROM EmployeeDemographics

SELECT COUNT(Gender)
FROM EmployeeDemographics

(No column name)
9

(No column name)
9

### **AS** is used to **give the name of the colume** as in above result it show **"No column name"**

In [7]:
SELECT COUNT(FirstName) AS FirstName_Count
FROM EmployeeDemographics

FirstName_Count
9

### Find All in Employee Salary

In [11]:
SELECT *
FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

### **Find Maximum (MAX),Minimum (MIN) and Average (AVG) of the Salary in EmployeeSalary**

In [12]:
SELECT MAX(Salary)
FROM EmployeeSalary

(No column name)
65000

In [13]:
SELECT MIN(Salary)
FROM EmployeeSalary

(No column name)
36000

In [14]:
SELECT AVG(Salary)
FROM EmployeeSalary

(No column name)
48555

## **WHERE** Statement  **\=,  \<\>  , \< ,   \> ,   AND,  OR , LIKE, NULL,  NOT NULL , IN**

###  Select where name is \= , \<\>

In [15]:
SELECT *
FROM EmployeeDemographics
WHERE FirstName='Riya'

EmployeeID,FirstName,LastName,Age,Gender
1003,Riya,Ray,28,Female

In [20]:
SELECT *
FROM EmployeeDemographics
WHERE FirstName <> 'Riya'

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

### Finding Age **\<   ,   \>,   \<=,  \>=**

In [26]:
SELECT *
FROM EmployeeDemographics
WHERE Age > 32

EmployeeID,FirstName,LastName,Age,Gender
1002,John,Mark,35,Male
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1008,Stanley,Hudson,38,Male

In [24]:
SELECT *
FROM EmployeeDemographics
WHERE Age < 35

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1003,Riya,Ray,28,Female
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male

In [27]:
SELECT *
FROM EmployeeDemographics
WHERE Age >= 32

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male

In [28]:
SELECT *
FROM EmployeeDemographics
WHERE Age <= 35

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male

### **AND , OR**

In [30]:
SELECT *
FROM EmployeeDemographics
WHERE Age < 35 AND Gender='Male'

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1009,Kevin,Malone,31,Male

In [31]:
SELECT *
FROM EmployeeDemographics
WHERE Age < 35 OR Gender='Male'

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

### **LIKE**  to find text or value with single char

In [34]:
SELECT *
FROM EmployeeDemographics
WHERE LastName like 'P%'

EmployeeID,FirstName,LastName,Age,Gender
1004,Harry,pal,36,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female

In [39]:
SELECT *
FROM EmployeeDemographics
WHERE LastName like 'H%' AND Age LIKE '%8'

EmployeeID,FirstName,LastName,Age,Gender
1008,Stanley,Hudson,38,Male

In [45]:
SELECT *
FROM EmployeeDemographics
WHERE LastName like 'P%a%' AND FirstName LIKE 'm%e%it%'

EmployeeID,FirstName,LastName,Age,Gender
1007,Meredith,Palmer,32,Female

### **NULL ,NOT NULL**

In [46]:
SELECT *
FROM EmployeeDemographics
WHERE LastName IS NULL

In [47]:
SELECT *
FROM EmployeeDemographics
WHERE LastName IS NOT NULL

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

### **IN** used to wirte in one line

In [54]:
SELECT *
FROM EmployeeDemographics
WHERE LastName ='Pal' And LastName ='Mark'

In [55]:
SELECT *
FROM EmployeeDemographics
WHERE LastName in('Pal','Mark')

EmployeeID,FirstName,LastName,Age,Gender
1002,John,Mark,35,Male
1004,Harry,pal,36,Male
1006,Harry,pal,36,Male

## **GROUP BY and ORDER BY**

### 

- **GROUP BY** used group  unique value  with respect to other field like(age in our case)
- **ORDER BY** used to arrange value acc. to Ascending order **(ASC)** which is by default and decending order **(DESC)**

In [1]:
SELECT Gender
FROM EmployeeDemographics
GROUP BY Gender

Gender
Female
Male

In [2]:
SELECT Gender ,COUNT(Gender)
FROM EmployeeDemographics
GROUP BY Gender

Gender,(No column name)
Female,2
Male,7

In [6]:
SELECT Gender ,Age,COUNT(Gender) AS 'Gender_count_by_age'
FROM EmployeeDemographics
GROUP BY Gender ,Age

Gender,Age,Gender_count_by_age
Female,28,1
Male,31,1
Female,32,1
Male,32,1
Male,35,1
Male,36,2
Male,38,2

In [10]:
SELECT Gender ,COUNT(Gender) AS 'Gender_count_by_age'
FROM EmployeeDemographics
WHERE Age > 32
GROUP BY Gender 
/*******************************************************************************************************/
SELECT*FROM EmployeeDemographics

Gender,Gender_count_by_age
Male,5

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1006,Harry,pal,36,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [19]:
SELECT Gender,Age,COUNT(Gender) AS 'Gender_count_by_age'
FROM EmployeeDemographics
WHERE Age >32
GROUP BY Gender ,Age
ORDER BY Gender_count_by_age DESC

Gender,Age,Gender_count_by_age
Male,36,2
Male,38,2
Male,35,1

In [26]:
SELECT Gender,Age,COUNT(Gender) AS 'Gender_count_by_age'
FROM EmployeeDemographics
WHERE Age >30
GROUP BY Gender ,Age
ORDER BY Gender_count_by_age ASC

Gender,Age,Gender_count_by_age
Male,31,1
Female,32,1
Male,32,1
Male,35,1
Male,36,2
Male,38,2

In [28]:
SELECT * FROM EmployeeDemographics
ORDER BY Age 

SELECT * FROM EmployeeDemographics
ORDER BY Age DESC

EmployeeID,FirstName,LastName,Age,Gender
1003,Riya,Ray,28,Female
1009,Kevin,Malone,31,Male
1007,Meredith,Palmer,32,Female
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1004,Harry,pal,36,Male
1006,Harry,pal,36,Male
1008,Stanley,Hudson,38,Male
1005,Ram,Singh,38,Male

EmployeeID,FirstName,LastName,Age,Gender
1005,Ram,Singh,38,Male
1008,Stanley,Hudson,38,Male
1006,Harry,pal,36,Male
1004,Harry,pal,36,Male
1002,John,Mark,35,Male
1001,Jim,Harin,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1003,Riya,Ray,28,Female

In [33]:
SELECT * FROM EmployeeDemographics
ORDER BY FirstName

EmployeeID,FirstName,LastName,Age,Gender
1004,Harry,pal,36,Male
1006,Harry,pal,36,Male
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1009,Kevin,Malone,31,Male
1007,Meredith,Palmer,32,Female
1005,Ram,Singh,38,Male
1003,Riya,Ray,28,Female
1008,Stanley,Hudson,38,Male

In [35]:
SELECT * FROM EmployeeDemographics
ORDER BY Age DESC ,Gender DESC

SELECT * FROM EmployeeDemographics
ORDER BY 4 DESC ,5 DESC

EmployeeID,FirstName,LastName,Age,Gender
1005,Ram,Singh,38,Male
1008,Stanley,Hudson,38,Male
1006,Harry,pal,36,Male
1004,Harry,pal,36,Male
1002,John,Mark,35,Male
1001,Jim,Harin,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1003,Riya,Ray,28,Female

EmployeeID,FirstName,LastName,Age,Gender
1005,Ram,Singh,38,Male
1008,Stanley,Hudson,38,Male
1006,Harry,pal,36,Male
1004,Harry,pal,36,Male
1002,John,Mark,35,Male
1001,Jim,Harin,32,Male
1007,Meredith,Palmer,32,Female
1009,Kevin,Malone,31,Male
1003,Riya,Ray,28,Female