# **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* ADVANCE SQL\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

# /\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* CTE (Common Table Expression)\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

# <span style="color: white; font-family: &quot;Segoe UI&quot;, Tahoma, Arial;"><b>A Common Table Expression, also called as CTE in short form, is a temporary named result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement.</b>&nbsp;</span>

In [1]:
WITH CTE_Employee AS
(SELECT FirstName,LastName,Gender,Salary,
COUNT(Gender) OVER (PARTITION BY Gender) AS TOTAL_GENDER,
AVG(Salary) OVER (PARTITION BY Gender) AS Average_Salary
FROM EmployeeDemographics
JOIN EmployeeSalary
ON EmployeeDemographics.EmployeeID=EmployeeSalary.EmployeeID
WHERE Salary> 45000
)
SELECT FirstName,Average_Salary
FROM CTE_Employee

FirstName,Average_Salary
Riya,57500
Reema,57500
Stanley,48500
Holly,48500
Harry,48500
Ram,48500

# /\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* TEMP TABLE \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/

In [37]:
CREATE TABLE #Temp_EmployeeSalary
(
EmployeeID INT,
JobTitle VARCHAR(30),
Salary int
)

In [11]:
SELECT*
FROM #Temp_EmployeeSalary

In [16]:
INSERT INTO #Temp_EmployeeSalary VALUES
(1001,'HR',45300)
SELECT*
FROM #Temp_EmployeeSalary

EmployeeID,JobTitle,Salary
1001,HR,45300

In [20]:
--DELETE from #Temp_EmployeeSalary

In [21]:
INSERT INTO #Temp_EmployeeSalary 
SELECT* 
FROM EmployeeSalary

SELECT*
FROM #Temp_EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1012,Regional Manager,49000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,Regional Manager,52000
1011,Salesman,43000

In [39]:
Create table #temp_employee2 (
JobTitle varchar(30),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

In [30]:
Insert into #temp_employee2
SELECT JobTitle, Count(JobTitle), Avg(Age), AVG(salary)
FROM EmployeeDemographics emp
JOIN EmployeeSalary sal
	ON emp.EmployeeID = sal.EmployeeID
group by JobTitle

In [28]:
--DELETE FROM #temp_employee2

In [32]:
SELECT*from #temp_employee2

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
Accountant,2,33,44500
HR,1,38,50000
Receptionist,1,35,36000
Regional Manager,2,34,50500
Salesman,4,31,49750
Supplier Relations,1,32,41000

In [41]:
Create table #temp_employee2 (
JobTitle varchar(30),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named '#temp_employee2' in the database.

In [44]:
DROP TABLE IF EXISTS #temp_employee2
Create table #temp_employee2 (
JobTitle varchar(30),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

# **/\*\*\*\*\*String Functions - TRIM, LTRIM, RTRIM, Replace, Substring, Upper, Lower\*\*\*\*\*/**

In [46]:
CREATE TABLE EmployeeErrors (
EmployeeID varchar(50)
,FirstName varchar(50)
,LastName varchar(50)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'EmployeeErrors' in the database.

In [47]:
Insert into EmployeeErrors Values 
('1001  ', 'Jimbo', 'Halbert')
,('  1002', 'Pamela', 'Beasely')
,('1005', 'TOby', 'Flenderson - Fired')

In [48]:
Select *
From EmployeeErrors

EmployeeID,FirstName,LastName
1001,Jimbo,Halbert
1002,Pamela,Beasely
1005,TOby,Flenderson - Fired

## **/\*\*\*\*\*\*\*\*\*\* Using TRIM, LTRIM,RTRIM \*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [52]:
SELECT EmployeeID ,TRIM(EmployeeID) AS TrimID
FROM EmployeeErrors

SELECT EmployeeID ,LTRIM(EmployeeID) AS LTrimID
FROM EmployeeErrors

SELECT EmployeeID ,RTRIM(EmployeeID) AS RTrimID
FROM EmployeeErrors

EmployeeID,TrimID
1001,1001
1002,1002
1005,1005

EmployeeID,LTrimID
1001,1001
1002,1002
1005,1005

EmployeeID,RTrimID
1001,1001
1002,1002
1005,1005

## **/\*\*\*\*\*\*\*\* Using REPLACE \*\*\*\*\*\*\*\*\*/**

In [54]:
SELECT lastName ,REPLACE(LastName,'- Fired','') AS LastNameFixed
FROM EmployeeErrors

lastName,LastNameFixed
Halbert,Halbert
Beasely,Beasely
Flenderson - Fired,Flenderson

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* Using SUBSTRING \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [59]:
SELECT SUBSTRING(FirstName,1,3) AS Char_of_Name
FROM EmployeeErrors

Char_of_Name
Jim
Pam
TOb

In [65]:
Select Substring(err.FirstName,1,3) AS ERROR_FIRSTNAME, Substring(dem.FirstName,1,3) AS DEM_FIRSTNAME/*, Substring(err.LastName,1,3), Substring(dem.LastName,1,3)*/
FROM EmployeeErrors err
JOIN EmployeeDemographics dem
	on Substring(err.FirstName,1,3) = Substring(dem.FirstName,1,3)
	--and Substring(err.LastName,1,3) = Substring(dem.LastName,1,3)

ERROR_FIRSTNAME,DEM_FIRSTNAME
Jim,Jim

## **/\*\*\*\*\*\*\*\*\*\*\*\* Using UPPER and LOWER  \*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [66]:
Select firstname, LOWER(firstname) AS Lower_case_FN
from EmployeeErrors

firstname,Lower_case_FN
Jimbo,jimbo
Pamela,pamela
TOby,toby

In [67]:
Select firstname, UPPER(firstname)AS Upper_case_FN
from EmployeeErrors

firstname,Upper_case_FN
Jimbo,JIMBO
Pamela,PAMELA
TOby,TOBY

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* STORED PROCEDURE \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [68]:
CREATE PROCEDURE Test   ---Creating stored procedure
AS
SELECT*
FROM EmployeeDemographics

In [69]:
EXEC Test ---execute stored procedure

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Harin,32,Male
1002,John,Mark,35,Male
1003,Riya,Ray,28,Female
1004,Harry,pal,36,Male
1005,Ram,Singh,38,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1011,Ryan,Howard,26,Male
1012,Holly,Flax,33,Male
1010,Reema,Sharma,36,Female

In [87]:
CREATE PROCEDURE Temp_Employee
AS
DROP TABLE IF EXISTS #temp_employee
Create table #temp_employee (
JobTitle varchar(100),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)
Insert into #temp_employee
SELECT JobTitle, Count(JobTitle), Avg(Age), AVG(salary)
FROM EmployeeDemographics emp
JOIN EmployeeSalary sal
	ON emp.EmployeeID = sal.EmployeeID
group by JobTitle

Select * 
From #temp_employee
GO;

In [88]:
EXEC Temp_Employee

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
Accountant,2,33,44500
HR,1,38,50000
Receptionist,1,35,36000
Regional Manager,2,34,50500
Salesman,4,31,49750
Supplier Relations,1,32,41000

In [89]:
ALTER PROCEDURE Temp_Employee
@JobTitle varchar(30)
AS
DROP TABLE IF EXISTS #temp_employee
Create table #temp_employee (
JobTitle varchar(100),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)
Insert into #temp_employee
SELECT JobTitle, Count(JobTitle), Avg(Age), AVG(salary)
FROM EmployeeDemographics emp
JOIN EmployeeSalary sal
	ON emp.EmployeeID = sal.EmployeeID
    WHERE JobTitle=@JobTitle
group by JobTitle

Select * 
From #temp_employee
GO;

In [92]:
EXEC Temp_Employee @JobTitle ='Salesman'

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
Salesman,4,31,49750

In [93]:
EXEC Temp_Employee @JobTitle ='HR'

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
HR,1,38,50000

# **/\*\*\*\*\*\*\*\*\* SUBQUERIES(in the SELECT ,FROM and WHERE statement \*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [94]:
SELECT*
FROM EmployeeSalary

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1012,Regional Manager,49000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1010,Regional Manager,52000
1011,Salesman,43000

### **Using Subquery in SELECT Statement**

In [101]:
SELECT EmployeeID,Salary,(SELECT AVG(Salary) FROM EmployeeSalary) AS Average_Salary
FROM EmployeeSalary

--SELECT AVG(Salary)AS Average_Salary FROM EmployeeSalary

EmployeeID,Salary,Average_Salary
1001,45000,46909
1002,36000,46909
1003,63000,46909
1004,47000,46909
1005,50000,46909
1012,49000,46909
1007,41000,46909
1008,48000,46909
1009,42000,46909
1010,52000,46909
1011,43000,46909

## **/\*\*\*\*\*\*\*\*\*\*\* How to do with PARTITION BY  \*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [102]:
SELECT EmployeeID,Salary,AVG(Salary) OVER() AS Average_Salary
FROM EmployeeSalary

EmployeeID,Salary,Average_Salary
1001,45000,46909
1002,36000,46909
1003,63000,46909
1004,47000,46909
1005,50000,46909
1012,49000,46909
1007,41000,46909
1008,48000,46909
1009,42000,46909
1010,52000,46909
1011,43000,46909

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\* Why GROUP BY doesn't work \*\*\*\*\*\*\*\*\*\*\*\*/**

In [103]:
Select EmployeeID, Salary, AVG(Salary) as Average_Salary
From EmployeeSalary
Group By EmployeeID, Salary
order by EmployeeID

EmployeeID,Salary,Average_Salary
1001,45000,45000
1002,36000,36000
1003,63000,63000
1004,47000,47000
1005,50000,50000
1007,41000,41000
1008,48000,48000
1009,42000,42000
1010,52000,52000
1011,43000,43000
1012,49000,49000

## **/\*\*\*\*\*\*\*\*\*\*\* Subquery in FROM Statement \*\*\*\*\*\*\*\*\*\*\*/**

In [107]:
Select temp.EmployeeID,Average_Salary
From 
	(Select EmployeeID, Salary, AVG(Salary) over () AS Average_Salary
	 From EmployeeSalary) temp
ORDER BY temp.EmployeeID

EmployeeID,Average_Salary
1001,46909
1002,46909
1003,46909
1004,46909
1005,46909
1007,46909
1008,46909
1009,46909
1010,46909
1011,46909
1012,46909

## **/\*\*\*\*\*\*\*\*\*\*\*\*\*\*\* Subquery in WHERE Statement \*\*\*\*\*\*\*\*\*\*\*\*\*\*\*/**

In [108]:
SELECT EmployeeID,Salary,JobTitle
FROM EmployeeSalary
WHERE EmployeeID IN (SELECT EmployeeID 
                    FROM EmployeeDemographics
                    WHERE Age>30)

EmployeeID,Salary,JobTitle
1001,45000,Salesman
1002,36000,Receptionist
1004,47000,Accountant
1005,50000,HR
1012,49000,Regional Manager
1007,41000,Supplier Relations
1008,48000,Salesman
1009,42000,Accountant
1010,52000,Regional Manager