In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv("iris.csv")

In [3]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
y=iris[['Petal.Length']]

In [5]:
x=iris[['Sepal.Length']]

## Linear Regression

### When x is ['Sepal.Length'] and y is ['Petal.Length']

In [6]:
#linear regession
from sklearn.linear_model import LinearRegression

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [9]:
lr=LinearRegression()

In [10]:
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred=lr.predict(x_test)

In [13]:
y_test.head()

     Petal.Length
64            3.6
74            4.3
133           5.1
92            4.0
94            4.2

In [14]:
y_pred[0:6]

array([[3.34576923],
       [4.83090847],
       [4.64526607],
       [3.71705404],
       [3.34576923],
       [3.71705404]])

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mean_squared_error(y_test,y_pred)

0.5710775155818159

### When x is ['Sepal.Width'] and y is ['Petal.Length']

In [18]:
x=iris[['Sepal.Width']]

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [20]:
lr1=LinearRegression()

In [21]:
lr1.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred=lr1.predict(x_test)

In [23]:
y_train.head()

     Petal.Length
27            1.5
49            1.4
12            1.4
19            1.5
106           4.5

In [24]:
y_pred[0:5]

array([[4.82727803],
       [1.21399429],
       [3.33945531],
       [3.76454752],
       [3.33945531]])

In [25]:
mean_squared_error(y_test,y_pred)

3.7433525558258145