In [1]:
import pandas as pd

In [2]:
iris=pd.read_csv('iris.csv')

In [6]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
y=iris[['Species']]

In [11]:
x=iris[["Sepal.Length"]]

## Logistic Regression

### In this x is["Sepal.Length"]  and y is ['Species']

In [12]:
from sklearn.linear_model import LogisticRegression

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.35)

In [15]:
lr=LogisticRegression()

In [16]:
lr.fit(x_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [25]:
y_pred=lr.predict(x_test)

In [35]:
y_test.tail()

        Species
96   versicolor
125   virginica
138   virginica
148   virginica
89   versicolor

In [36]:
y_pred[-5:]

array(['versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor'],
      dtype=object)

In [37]:
from sklearn.metrics import confusion_matrix

In [38]:
confusion_matrix(y_test,y_pred)

array([[16,  1,  0],
       [ 3, 11,  5],
       [ 0,  4, 13]], dtype=int64)

In [39]:
(17+12+12)/(17+1+12+4+1+6+12)

0.7735849056603774

### x is ["Petal.Length"] and y is ['Species']

In [40]:
x=iris[["Petal.Length"]]

In [41]:
lr1=LogisticRegression()

In [42]:
lr1.fit(x_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [43]:
y_pred=lr1.predict(x_test)

In [44]:
y_test.head()

       Species
43      setosa
110  virginica
45      setosa
129  virginica
124  virginica

In [45]:
y_pred[0:5]

array(['setosa', 'virginica', 'setosa', 'virginica', 'virginica'],
      dtype=object)

In [46]:
confusion_matrix(y_test,y_pred)

array([[16,  1,  0],
       [ 3, 11,  5],
       [ 0,  4, 13]], dtype=int64)

In [47]:
(17+12+12)/(17+1+12+4+1+6+12)

0.7735849056603774